head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='description', content= '')

  meta(name='keywords', content= '')

  meta(charset='utf-8')
  meta(name='author', content= 'Waldemar Schneider')
  meta(name='copyright', content= 'Waldemar Schneider')
  meta(name='viewport', content= 'width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/webjars/foundation/5.5.0/css/foundation.min.css')
  link(rel='stylesheet', href='/webjars/foundation-icon-fonts/d596a3cfb3/foundation-icons.css')
  block title
    title default