extends ../layout

block title
  - title = 'issue list of ' + organisation + ' / ' + repository
  title= title 
block content
  h1= title
  
  table
    thead
      tr
        th Issue number
        th Issue Title
    for issue in issues
      tr
        td= issue.gitHubIssue.number
        td= issue.gitHubIssue.title